<h2>Resultados de partidos</h2>

<br>

<div class="row">
    <label for="ronda" class="col-1 col-form-label">Ronda:</label>
    <div class="col-2">
        <select id="ronda" class="form-select" (change)="mostrarPartidos(ronda.value)" #ronda>
            <option [value]="ronda" *ngFor="let ronda of rondas">{{ronda}}</option>
        </select>
    </div>
</div>

<br>

<div class="row row-cols-12 g-2">
    <app-card-partido [partido]="partido" *ngFor="let partido of partidos"></app-card-partido>
</div>