<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link text-white">
            <i class="fa-solid fa-house"></i><span class="ms-2">Inicio</span></a>
    </li>
    <li>
        <a [routerLink]="['/equipos']" class="nav-link text-white">
            <i class="fa-solid fa-people-group"></i><span class="ms-2">Equipos</span></a>
    </li>
    <li>
        <a [routerLink]="['/programacion-partidos']" class="nav-link text-white">
            <i class="fa-solid fa-calendar-check"></i><span class="ms-2">Programación</span></a>
    </li>
    <li>
        <a [routerLink]="['/resultados']" class="nav-link text-white">
            <i class="fa-solid fa-futbol"></i><span class="ms-2">Resultados</span></a>
    </li>
    <li>
        <a [routerLink]="['/clasificacion']" class="nav-link text-white">
            <i class="fa-solid fa-table-columns"></i><span class="ms-2">Clasificación</span></a>
    </li>
</ul>